<!doctype html>
<!--[if lte IE 7]> <html class="ie67 ie678" lang="fr"> <![endif]-->
<!--[if IE 8]> <html class="ie8 ie678" lang="fr"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="fr"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="fr">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <!-- <script type="text/javascript" src="app.js"></script> -->
</head>

<body ng-app>

    <header id="header" role="banner">
    </header>
    <!-- header -->

    <nav id="navigation" role="navigation">
        <ul>
        </ul>
    </nav>
    <!-- navigation -->

    <div id="main" role="main" class="container">
        <!-- create a simple Expression to display a friendly "Hello, Angular!" message. -->
        <div class="jumbotron">
            <h1>{{"Hello, Angular !"}} <small>/ Les bases</small></h1>
        </div>

        <section class="well">
            <small>Sa première application avec la directive ngApp</small>
            <h2>Directive : ng-init</h2>
            <p ng-init="myVar = 'Hello Angular'">
                {{ myVar }}
            </p>
        </section>

        <section class="well">
            <small>Découvrir le data binding avec AngularJS</small>
            <h2>Data Binding : ng-model {{ monTest }}</h2>
            <input type="text" ng-model="monTest">
        </section>

        <section class="well" ng-controller="MyController">
            <small>Créer et initialiser son premier controller</small>
            <h2>Controller : ng-controller</h2>
            <p>{{ name + ' ' + prenom }} - {{ num1 + num2 }}</p>
        </section>

        <section class="well" ng-controller="MySecondController">
            <small>initialiser un second controller</small>
            <h2>MySecondController</h2>
            <p>{{ name + ' ' + prenom }} - {{ num1 + num2 }}</p>
            <p>{{ maVarGlobale }}</p>
        </section>

        <section class="well">
            <small>Variable accessible n'importe ou</small>
            <h2>$rootScope</h2>
            <p>{{ maVarGlobale }}</p>
        </section>

        <section class="well" ng-controller="MyBoucleController">
            <small>des directives prédéfinies</small>
            <h2>ng-repeat : </h2>

            <pre>{{ items }}</pre>

            <ul>
                <li ng-repeat="item in items">
                    <b>{{ item.name | uppercase }}</b> est un(e) {{ item.sexe }} de {{ item.age }} an(s)
                </li>
            </ul>
        </section>

    </div>
    <!-- main -->

    <aside class="aside" role="complementary">
    </aside>
    <!-- aside -->

    <footer id="footer" role="contentinfo">
    </footer>
    <!-- footer -->

    <script text="text/javascript">
        /*
        * myController
        * Créer et initialiser son premier controller
        */
        function MyController ($scope, $rootScope) {
            $rootScope.maVarGlobale = 'Hopela une Variable Globale';

            $scope.name   = 'Sammut';
            $scope.prenom = 'Guillaume';
            $scope.num1   = 5;
            $scope.num2   = 3;
        }

        /*
        * mySecondController
        * Créer et initialiser un second controller pour tester le $scope
        */
        function MySecondController ($scope) {
            $scope.name   = 'Rouzier';
            $scope.prenom = 'Sophie';
            $scope.num1   = 1;
            $scope.num2   = 2;
        }


        /*
        * MyBoucleController
        * Créer et initialiser un controller pour tester les directives prédéfinies
        * ngRepeat : permet de répéter plusieurs fois une balise HTML.
        */
        function MyBoucleController ($scope) {
            $scope.items = [
                { 'name' : 'Jérome', 'age' : '35', 'sexe' : 'homme' },
                { 'name' : 'Jean', 'age' : '54', 'sexe' : 'homme' },
                { 'name' : 'Lola', 'age' : '25', 'sexe' : 'femme' }
            ]
        }


        /* Livereload */
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>

</body>

</html>
