<form action="">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" ng-model="item.name" required="required">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" name="category" id="category" ng-model="item.category_id" ng-options="category.id as category.name for category in categories">
        </select>
    </div>
    <hr>
    <div class="form-actions">
        <button class="btn btn-primary" ng-click="createItem(item)">Create</button>
    </div>
</form>
<h3>
	Item : <b>{{ item.name }}</b>
	<small>{{ item.category_id }}</small>
</h3>
<hr>
<pre>
	<b>Categories</b> : {{ categories }}
	<b>items</b> : {{ items }}
</pre>
