<!--
Example of view's definition, must be renamed or removed

@author Julien Moulin <julien@baliz.org>
-->

<!-- <div id="main" role="main" class="container" ng-controller="ItemListController"> -->
<div id="main" role="main" class="container">
	<h1>Collectify whith AngularJS</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quos error quam, temporibus voluptates quod quidem delectus eum deleniti. Minus a quam nobis deserunt voluptatum exercitationem, sapiente incidunt corporis assumenda?</p>

	<code>{{ test }}</code>

</div>
<!-- main -->