<!--
Example of view's definition, must be renamed or removed

@author Julien Moulin <julien@baliz.org>
-->
    <!-- <div id="main" role="main" class="container" ng-controller="ItemListController"> -->
    <div id="main" role="main" class="container">
        <ul ng-repeat="item in items">
            <li decorate-item></li>
        </ul>
   
		<code>{{ test }}</code>

    </div>
    <!-- main -->